.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  display: none;

  &__content {
    padding: 20px;
    background-color: white;
    margin: 10% auto;
    width: 100%;
    max-width: 400px;
  }
}