* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__current {
  width: 750px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__thumb {
  height: 150px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}

.carrousel {
  width: 500px;
  height: 200px;
  overflow: hidden;
}

.carrousel__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.carrousel__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options__viz {
  height: 300px;
  width: 300px;
  background-color: gray;
}

.options__viz--green {
  background-color: green;
}

.options__viz--blue {
  background-color: blue;
}

.options__viz--red {
  background-color: red;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
}

.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  padding: 20px;
  background-color: white;
  margin: 10% auto;
  width: 100%;
  max-width: 400px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: translate(0px, -500px);
          transform: translate(0px, -500px);
  position: relative;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  border: 1px solid gray;
  width: 300px;
  display: block;
  text-decoration: none;
  margin: 20px;
}

.product__img {
  width: 100%;
}

.product__info {
  padding: 10px;
}

.product__title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product__price {
  margin: 0;
}

.product:hover {
  background-color: gray;
}

.productForm__btn {
  margin-top: 15px;
  display: block;
}

.productForm__success {
  color: green;
}

.productForm__error {
  color: red;
}

.productForm__img {
  width: 200px;
  margin: 4px 10px 0 0;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field__label,
.productForm__label {
  display: block;
  margin-top: 10px;
}

.field__label--checkbox,
.productForm__label--checkbox {
  margin-top: 2px;
}

.field__input,
.productForm__input {
  display: block;
}

.hidden {
  display: none !important;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__list {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkout__summary {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=main.css.map */